.sidebar {
    background-color: #333;
    color: #fff;
    height: 60%;
    width: 200px;
    margin-top: 6vw;
    top: 50px;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidebar-header {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .logo i {
    margin-right: 0px;
  }
  
  
  .sidebar-nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar-nav li {
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  
  .sidebar-nav li.active,
  .sidebar-nav li:hover {
    background-color: #555;
  }
  
  .sidebar-nav li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .sidebar-nav li i {
    margin-right: 10px;
  }
  